.a {
    color: white;
    background-image: url("https://images8.alphacoders.com/101/1015171.jpg");
    background-size: 100%;
}
.t {
    padding-top: 32px;
    text-align: center;
    color: white;
}
.tab {
    color: white;
}

.d  {
   padding-bottom: 25px;
}


