.block {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.number {
    background-color: #B0CADD;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A3A3A;
    font-size: 20px;
    border-radius: 50px;
}

.headText {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 16px;
}

.text {
    color: #3A3A3A;
    text-align: center;
}

.borderRB {
    border-bottom: 1px solid #B0CADD;
    border-right: 1px solid #B0CADD;
}

.borderB {
    border-bottom: 1px solid #B0CADD;
}

.borderR {
    border-right: 1px solid #B0CADD;
}

.di {
    margin-bottom: 500px;
}

.table {
    margin: auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
    "c c c";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.i {
    grid-area: c;
}

.t {
    text-align: center;
}