.container {
    display: grid;
    grid-template-areas:
    'im m';
    grid-template-rows:  1fr  ;
    grid-template-columns: 384px 1fr ;
    grid-row-gap: 15px;
    padding-top: 40px;
    padding-left: 40px;
}
.img {
    grid-area: im;
    width: 100%;
}

.shInf {
    padding-left: 24px;
    grid-area: m;
    width: 100%;
}

.planet {
    color: white;
    font-family: initial;
}

.list   {
    width: 40%;
}

.collapse  {
    padding-left: 72px;
}

.block  {
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
}

.description    {
    font-size: 18px;
    color: #eee;
    padding-left: 48px;
}

.name   {
    color: white;
    padding-left: 72px;
    padding-top: 16px;
}