.container {
    display: grid;
    grid-template-areas:
    'im m';
    grid-template-rows:  1fr  ;
    grid-template-columns: 384px 1fr ;
    grid-row-gap: 15px;
    padding-bottom: 20px;
}
.img {
    grid-area: im;
    width: 100%;
}

.shInf {
    grid-area: m;
    width: 100%;

}