.grid {
    display: grid;
    grid-template-areas:
    "c c"
    "c c"
    "c c"
    "c c";
    grid-template-rows:  1fr ;
    grid-template-columns: 1fr 1fr ;
    padding: 20px;
    grid-row-gap: 20px;
}
.it {
    grid-area: c;
    width: 82%;
    height: 185px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: white ;
    margin: auto;
    background: #1F2226;
    cursor: pointer;
    transition: all ease .5s;
}
.it:hover {
    opacity: .5;
    transition: all ease .5s;
}
.it img {
    width: 222px;
    background: rgba(14, 13, 13, 1);

}
.t {
    background: #414141;
}


