.car {
    margin: auto;
    padding: 32px;
}

.carI {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}


.card {
    background: rgba(255, 255, 255, 0);
    width: 15%;
    margin: auto;
    text-align: center;
    transition: .5s;
    padding-bottom: 32px;
}

.card:hover {
    cursor: pointer;
    opacity: .5;
    transition: .5s;
}

.text   {
    color: white;
}